body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

.hero {
  text-align: center;
  padding: 80px;
  background: white;
}

.card {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
